<div style="text-align:center;margin-top: 10%;">
    <h1>SPORTSMATRIX</h1>
    <%if flash[:message]%>
        <h3><%=flash[:message]%></h3>
    <%end%>

    <%=form_tag "/session" do %>
        <%=text_field_tag :username%></br>
        <%=password_field_tag :password_digest%></br>
        <%=submit_tag "log in"%>
    <%end%>
</div>